$satisfy-font: "Satisfy", cursive;

.brand-name {
  font-family: $satisfy-font;
}

// Navbar Custom Styles
nav {
  .container-fluid {
    .brand-name {
      line-height: 1;
      margin: 0 20px 0 0;
      padding: 5 0 0 0;
      font-size: 28px;
    }
    #navbarNav {
      width: auto;
    }
  }
}
@media (max-width: 992px) {
  nav {
    .container-fluid {
      #navbarNav {
        width: 100% !important;
      }
    }
  }
}
// Landing Page
.index-page {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: calc(100vh - 56px);
    width: 100vw;
    .index-left {
      padding: 100px;
      width: 40vw;
      height: 100%;
      .brand-name {
        font-size: 24px;
        margin: 0;
        padding: 0;
      }
      h1 {
        font-weight: 900;
      }
    }
    .index-right {
      overflow: hidden;
      height: 100%;
      width: 60vw;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }
    }
  }
}

// Login And Logout Forms
#auth-form {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  .auth-form {
    min-height: 500px;
    height: 70%;
    width: 700px;
    min-width: 500px;
    margin: auto auto;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .auth-form-img {
      height: 100%;
      width: 150px;
      position: absolute;
      left: 0;
      overflow: hidden;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    #cross {
      font-size: 20px;
      color: black;
      position: absolute;
      top: 15px;
      right: 20px;
      cursor: pointer;
    }
    .login,
    .signup {
      margin-left: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      padding: 20px;
      border-radius: 4px;
      opacity: 1;
    }
  }
}

// User Dashboard
.dashboard {
  height: calc(100vh - 56px);
  overflow: hidden;
  .row {
    height: 100%;
    .user-menu {
      height: 100%;
      padding: 40px;
      table {
        a {
          text-decoration: none;
        }
      }
    }
    .user-notes {
      height: 100%;
      .notes-list {
        height: 100%;
        padding: 40px 0;
        overflow-y: scroll;
      }
    }
    .note {
      #noteDisplay {
        height: 100%;
        .logo {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -80px;
          h1 {
            font-family: $satisfy-font;
            font-size: 150px;
            color: #eee;
          }
        }
        input {
          width: 100%;
          border-color: #eee;
        }
        textarea {
          height: 360px;
          border-color: #eee;
        }
      }
    }
  }
}

// Custom Scroll Bar CSS
/* width */
::-webkit-scrollbar {
  border-radius: 50%;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ececec;
}
