{% extends 'layout.html' %} {% block title %} Notes! - A Simple Note Taking App
{% endblock %} {% block body %}
<!-- User Dashboard -->
<main style="height: 100%;">
  <div class="dashboard">
    <div class="row">
      <div class="user-menu col-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="active" id="allNotesBtn">
                <a href=""><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-album"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z" />
                    <path
                      d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm3-6.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5z" />
                    <path fill-rule="evenodd" d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z" />
                  </svg>
                  All Notes</a>
              </th>
            </tr>
          </thead>
        </table>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="noteTags" id="tagHome">
                <a href="">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-text" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z" />
                    <path
                      d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z" />
                    <path fill-rule="evenodd"
                      d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                  </svg>
                  Home</a>
              </td>
            </tr>
            <tr>
              <td class="noteTags" id="tagWork">
                <a href=""><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-text"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z" />
                    <path
                      d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z" />
                    <path fill-rule="evenodd"
                      d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                  </svg>
                  Work</a>
              </td>
            </tr>
            <tr>
              <td class="noteTags" id="tagTravel">
                <a href=""><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-text"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z" />
                    <path
                      d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z" />
                    <path fill-rule="evenodd"
                      d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                  </svg>
                  Travel</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="active" id="bookmarkedBtn">
                <a href=""><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmarks" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M7 13l5 3V4a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v10.234z" />
                    <path d="M14 14l-1-.6V2a1 1 0 0 0-1-1H4.268A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v12z" />
                  </svg>
                  Bookmark</a>
              </th>
            </tr>
          </thead>
        </table>
        <div class="mt-auto">
          <div class="create-btn">
            <div class="btn btn-info" style="width: 100%;" id="createNote">
              Create
            </div>
          </div>
        </div>
      </div>
      <div class="user-notes col-3">
        <div id="notesList">
          {% for note in notes %}
          <div class="toast show mb-4" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
              <strong class="mr-auto">{{note.title[:20] + "..." | safe}}</strong>
              <small class="text-muted">{{note.timestamp.strftime("%d %b %Y %I:%M:%S %p")}}</small>
            </div>
            <div class="toast-body">
              <div>
                {{Markup(note.content[:60]).striptags() + "..." }}
              </div>
            </div>
            <a href="javascript:showNote({{note.id}})" class="stretched-link"></a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="note col-7">
        <div class="m-5" id="noteDisplay">
          <div class="logo">
            <h1>Notes!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}