{% extends 'layout.html' %} {% block title %} Notes! - A Simple Note Taking App
{% endblock %} {% block body %}
<!-- User Dashboard -->
<main style="height: 100%;">
  <div class="dashboard">
    <div class="row">
      <div class="user-menu col-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">First</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row"><a href="#">All Notes</a></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#"> &#9830; Tag01</a></td>
            </tr>
            <tr>
              <td><a href="#"> &#9830; Tag02</a></td>
            </tr>
            <tr>
              <td><a href="#"> &#9830; Tag03</a></td>
            </tr>
          </tbody>
        </table>
        <div class="mt-auto">
          <div class="create-btn">
            <div class="btn btn-info" style="width: 100%;" id="createNote">
              Create
            </div>
          </div>
        </div>
      </div>
      <div class="user-notes col-3">
        <div class="notes-list">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Note Title</div>
            <div class="card-body text-secondary">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
                <a href="#" class="stretched-link"></a>
              </p>
            </div>
          </div>
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Note Title</div>
            <div class="card-body text-secondary">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
                <a href="#" class="stretched-link"></a>
              </p>
            </div>
          </div>
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Note Title</div>
            <div class="card-body text-secondary">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
                <a href="#" class="stretched-link"></a>
              </p>
            </div>
          </div>
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Note Title</div>
            <div class="card-body text-secondary">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
                <a href="#" class="stretched-link"></a>
              </p>
            </div>
          </div>
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Note Title</div>
            <div class="card-body text-secondary">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
                <a href="#" class="stretched-link"></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="note col-7">
        <div class="mt-5 mb-5 mr-5" id="noteDisplay">
          <div class="logo">
            <h1>Notes!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
