{% extends 'layout.html' %} {% block title %} Notes! - A Simple Note Taking App
{% endblock %} {% block body %}
{% if user %}
{% else %}
<!-- Landing Page -->
<section>
  <div class="index-page">
    <main>
      <div class="index-left">
        <p class="brand-name">Notes!</p>
        <h1 class="text-primary">NoteTaking</h1>
        <h1>Made Easy!</h1>
        <p style="margin-top: 30px;">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
          dignissimos sit, fugiat cumque maxime similique.
        </p>
      </div>
      <div class="index-right">
        <img src="{{ url_for('static', filename='img/main-page.jpg') }}" alt="Woman Taking Notes On Notebook" />
      </div>
    </main>
  </div>
</section>
{% endif %}
{% endblock %}