<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <!-- Header Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand brand-name" href="/">
        Notes!
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if not session['username'] %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:showForm('signInForm')">LogIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:showForm('signUpForm')">SignUp</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link">{{session['username']}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-danger text-center">
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  {% endif %} {% endwith %} {% block body %}{% endblock %}

  <!-- Login Or SignUp Forms -->
  <section id="auth-form" style="display: none;">
    <div class="auth-form">
      <div class="auth-form-img">
        <img src="{{ url_for('static', filename='img/form-side.jpg') }}" alt="Auth Form Img" style="height: 100%;" />
      </div>
      <div id="cross">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
          <path fill-rule="evenodd"
            d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
          <path fill-rule="evenodd"
            d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
        </svg>
      </div>
      <div class="signup" style="display: none;" id="signUpForm">
        <h2 class="mb-3 text-center">
          Sign<span class="text-primary">Up</span>
        </h2>
        <form action="/signup" method="POST">
          <div class="mb-3">
            <input type="text" name="username" id="signupUsername" class="form-control" autocomplete="off"
              placeholder="Username" />
          </div>
          <div class="mb-3">
            <input type="email" name="email" id="email" class="form-control" autocomplete="off" placeholder="Email" />
          </div>
          <div class="mb-3">
            <input type="password" name="password" id="signupPassword" class="form-control" placeholder="Password" />
          </div>
          <div class="mb-3">
            <input type="password" name="conf-password" id="conf-password" class="form-control" autocomplete="off"
              placeholder="Confirm Password" />
          </div>
          <button type="submit" class="btn btn-outline-primary bg-gradient mb-3 btn-block">
            Create Account
          </button>
          <small>Already Have An Account<span style="margin-left: 5px;"><a
                href="javascript:showForm('signInForm')">SIGNIN</a></span></small>
        </form>
      </div>
      <div class="login" style="display: none;" id="signInForm">
        <h2 class="mb-3 text-center">
          Sign<span class="text-primary">In</span>
        </h2>
        <form action="/signin" method="POST">
          <div class="mb-3">
            <input type="text" name="signinUsername" id="username" class="form-control" autocomplete="off"
              placeholder="Username" />
          </div>
          <div class="mb-3">
            <input type="password" name="password" id="signinPassword" class="form-control" placeholder="Password" />
          </div>
          <button type="submit" class="btn btn-outline-primary bg-gradient mb-3 btn-block">
            Login
          </button>
          <small>New to Notes!
            <span style="margin-left: 5px;"><a href="javascript:showForm('signUpForm')">SIGNUP</a></span></small>
        </form>
      </div>
    </div>
  </section>

  <!-- Optional JavaScript -->
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <!-- Popper.js first, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
</body>

</html>